Source: huayra-screensavers
Section: x11
Priority: extra
Maintainer:  Claudio Andaur <malefico3d@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.8
Homepage: http://huayra.educar.gob.ar
Vcs-Git: http://github.com/huayralinux/huayra-screensavers

Package: huayra-screensavers
Architecture: all
Replaces: huayra-mate-screensavers
Depends: ${misc:Depends}
Description: Salvapantallas de Huayra.
 Incluye salvapantallas con imágenes y animaciones del logo y la vaca de Huayra.
