[Desktop Entry]
Name=Huayra 3.1
Name[es]=Huayra 3.1
Comment=Bubbles the Huayra 3.1 netbook around the screen
Comment[es]=Mueve la netbook con Huayra 3.1 alrededor de la pantalla
Exec=/usr/lib/mate-screensaver/floaters -n 5 /usr/share/huayra-screensavers/huayra_31.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
