[Desktop Entry]
Name=Huayra Invaders
Name[es]=Huayra Invaders
Comment=Screensaver written in Pygame that shows a bunch of aliens and an undercover cow.
Comment[es]=Screensaver hecho en Pygame que muestra muchos aliens y una vaca colada.
Exec=huayra-invaders.py
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
