[Desktop Entry]
Name=Huayra Aliens
Name[es]=Huayra Invaders
Comment=Screensaver hecho en Pygame que muestra muchos aliens y una vaca colada.
Comment[es]=Screensaver hecho en Pygame que muestra muchos aliens y una vaca colada.
Exec=/usr/lib/huayra-screensavers/huayra-invaders.py
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
